header{
  background-color: rgb(242, 5, 5);
  text-align: center;
  padding: 10px;
}

footer{
  background-color: rgb(249, 5, 5);
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

main{
  background-color: rgb(253, 253, 0);
  min-height: 80vh;
  font-size: 40px;
}

.btn{
  background-color: rgb(0, 136, 18);
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
